In [2]:
!pip install boto3
import configparser
%load_ext sql

Requirement already satisfied: boto3 in /opt/conda/lib/python3.6/site-packages (1.9.7)
Requirement already satisfied: botocore<1.13.0,>=1.12.7 in /opt/conda/lib/python3.6/site-packages (from boto3) (1.12.7)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /opt/conda/lib/python3.6/site-packages (from boto3) (0.9.3)
Requirement already satisfied: s3transfer<0.2.0,>=0.1.10 in /opt/conda/lib/python3.6/site-packages (from boto3) (0.1.13)
Requirement already satisfied: docutils>=0.10 in /opt/conda/lib/python3.6/site-packages (from botocore<1.13.0,>=1.12.7->boto3) (0.14)
Requirement already satisfied: urllib3<1.24,>=1.20 in /opt/conda/lib/python3.6/site-packages (from botocore<1.13.0,>=1.12.7->boto3) (1.22)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /opt/conda/lib/python3.6/site-packages (from botocore<1.13.0,>=1.12.7->boto3) (2.6.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.6/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.13.0,>=1.12.7->boto3) (1.11.0)

In [5]:
DB_NAME='dev'
DB_USER='awsuser'
DB_PASSWORD=''
DB_PORT=5439

ENDPOINT='redshift-cluster-1.cdmqxpvfhyqb.us-east-1.redshift.amazonaws.com'

In [6]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DB_USER,DB_PASSWORD, ENDPOINT, DB_PORT, DB_NAME)
%sql $conn_string

'Connected: awsuser@dev'

In [8]:
%%sql
select * from staging_songs_table
limit 3;

 * postgresql://awsuser:***@redshift-cluster-1.cdmqxpvfhyqb.us-east-1.redshift.amazonaws.com:5439/dev
3 rows affected.

[('ARJNIUY12298900C91', None, '', None, 'Adelitas Way', 213.9424, 1, 'SOBLFFE12AF72AA5BA', 'Scream', 2009),
 ('ARSVTNL1187B992A91', 51.50632, 'London, England', -0.12714, 'Jonathan King', 129.85424, 1, 'SOEKAZG12AB018837E', "I'll Slap Your Face (Entertainment USA Theme)", 2001),
 ('ARXR32B1187FB57099', None, '', None, 'Gob', 209.60608, 1, 'SOFSOCN12A8C143F5D', 'Face the Ashes', 2007)]

In [10]:
%%sql
select count(*) from staging_songs_table;

 * postgresql://awsuser:***@redshift-cluster-1.cdmqxpvfhyqb.us-east-1.redshift.amazonaws.com:5439/dev
1 rows affected.

[(14896,)]

In [11]:
%%sql
select * from songplay_table
limit 3;

 * postgresql://awsuser:***@redshift-cluster-1.cdmqxpvfhyqb.us-east-1.redshift.amazonaws.com:5439/dev
3 rows affected.

[(0, datetime.datetime(2018, 11, 1, 21, 8, 16, 796000), 8, 'free', None, None, 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"'),
 (1, datetime.datetime(2018, 11, 1, 21, 1, 46, 796000), 8, 'free', None, None, 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"'),
 (3, datetime.datetime(2018, 11, 1, 21, 5, 52, 796000), 8, 'free', None, None, 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"')]

In [12]:
%%sql
select count(*) from songplay_table;

 * postgresql://awsuser:***@redshift-cluster-1.cdmqxpvfhyqb.us-east-1.redshift.amazonaws.com:5439/dev
1 rows affected.

[(13640,)]

In [13]:
%%sql
select count(*) from user_table;

 * postgresql://awsuser:***@redshift-cluster-1.cdmqxpvfhyqb.us-east-1.redshift.amazonaws.com:5439/dev
1 rows affected.

[(208,)]

In [14]:
%%sql
select a.song_id, b.artist_id
from
song_table a  
inner join
artist_table b
on a.artist_id = b.artist_id
limit 3;

 * postgresql://awsuser:***@redshift-cluster-1.cdmqxpvfhyqb.us-east-1.redshift.amazonaws.com:5439/dev
3 rows affected.

[('SOAACFC12A8C140567', 'ARNHTE41187B99289A'),
 ('SOAACTC12AB0186A20', 'ARXWFZ21187FB43A0B'),
 ('SOAADJH12AB018BD30', 'AR3FKJ61187B990357')]

In [ ]:
# Drop Staging Tables
cur.execute(staging_events_table_drop)
cur.execute(staging_songs_table_drop)

In [ ]:
# Drop Analytics Tables
cur.execute(songplay_table_drop)
cur.execute(user_table_drop)
cur.execute(song_table_drop)
cur.execute(artist_table_drop)
cur.execute(time_table_drop)

In [ ]:
conn.close()